/*
Ubuntu, Roboto Slab, Cabin, Yanone Kaffeesatz, Bree Serif, Josefin Sans, Shadows Into Light, Amatic SC, Architects Daughter
*/
body {
  margin: 10;
  padding: 0;
  font-family: "Bree Serif", "Indie Flower";
  font-size: x-large;
  background: LemonChiffon;
}
h1 {
  font-family: "Bangers";
}
.hidden {
  display: none;
}
.board-area {
  position: absolute;
  width: 900px;
  height: 600px;
}
.data-area {
  position: absolute;
  left: 920px;
}

#dice-roll-area {
  position: absolute;
  top: 400px;
  left: 0px;
  width: 125px;
  height: 125px;
  cursor: pointer;
}
#dice-result {
  position: absolute;
  top: 400px;
  left: 140px;
  width: 200px;
  height: 165px;
}
.dice-svg {
  display: block;
  -webkit-transform-origin: top center;
  -webkit-transform: scale(1.5);
  -moz-transform-origin: top center;
  -moz-transform: scale(1.5);
}
.side {
  position: absolute;
  top: 0;
  left: 0;
  width: 74px;
  height: 74px;
  pointer-events: none;
  backface-visibility: visible;
  -webkit-transform-origin: center center;
  -webkit-backface-visibility: visible;
  -moz-transform-origin: center center;
  -moz-backface-visibility: visible;
}
.side * {
  pointer-events: none;
}
#dice-cube {
  position: absolute;
  left: 25px;
  top: 25px;
  width: 74px;
  height: 74px;
  z-index: 100;
  backface-visibility: visible;
  pointer-events: none;
  -webkit-transform-style: preserve-3d;
  -webkit-transform-origin: center center;
  -webkit-backface-visibility: visible;
  -webkit-transform: rotateX(-45deg) rotateY(50deg);
  -webkit-transition: -webkit-transform 1s;
  -moz-transform-style: preserve-3d;
  -moz-transform-origin: center center;
  -moz-backface-visibility: visible;
  -moz-transform: rotateX(-45deg) rotateY(50deg);
  -moz-transition: -moz-transform 1s;
}
#dice-cube .side:nth-child(1) {
  -webkit-transform: translateY(37px) rotateX(90deg);
  -moz-transform: translateY(37px) rotateX(90deg);
}
#dice-cube .side:nth-child(2) {
  -webkit-transform: translateY(-37px) rotateX(-90deg);
  -moz-transform: translateY(-37px) rotateX(-90deg);
}
#dice-cube .side:nth-child(3) {
  -webkit-transform: translateX(37px) rotateY(-90deg);
  -moz-transform: translateX(37px) rotateY(-90deg);
}
#dice-cube .side:nth-child(4) {
  -webkit-transform: translateX(-37px) rotateY(-90deg);
  -moz-transform: translateX(-37px) rotateY(-90deg);
}
#dice-cube .side:nth-child(5) {
  -webkit-transform: translateZ(37px) rotateZ(90deg);
  -moz-transform: translateZ(37px) rotateZ(90deg);
}
#dice-cube .side:nth-child(6) {
  -webkit-transform: translateZ(-37px) rotateZ(0deg);
  -moz-transform: translateZ(-37px) rotateZ(0deg);
}
/*
.hit-area {
  cursor: pointer;
}


#card-display-area {
  position: absolute;
  top: 400px;
  left: 50px;
  width: 240px;
  height: 368px;
  border: 1px solid;
  overflow: auto;
}


.game-board-area {
  top: 140px;
  left: 0px;
  width: 700px;
  height: 420px;
  cursor: pointer;
}
*/
.stripe-1 {
  color: white;
  background: repeating-linear-gradient(
    45deg,
    #606dbc,
    #606dbc 10px,
    #465298 10px,
    #465298 20px
  );
}
.stripe-2 {
  color: black;
  background: repeating-linear-gradient(
    45deg,
    transparent,
    transparent 10px,
    #ccc 10px,
    #ccc 20px
  ),
  linear-gradient(
    to bottom,
    #eee,
    #999
  )
}
.stripe-3 {
  color: white;
  background: repeating-radial-gradient(
    circle,
    purple,
    purple 10px,
    #4b026f 10px,
    #4b026f 20px
  );
}
.stripe-4 {
  color: white;
  background: repeating-linear-gradient(
    -55deg,
    #222,
    #222 10px,
    #333 10px,
    #333 20px
  );
}
.stripe-5 {
  color: white;
  background: linear-gradient(
    to bottom,
    #5d9634,
    #5d9634 50%,
    #538c2b 50%,
    #538c2b
  );
  background-size: 100% 20px;
}
.stripe-6 {
  color: black;
  background: repeating-linear-gradient(
    to right,
    #f6ba52,
    #f6ba52 10px,
    #ffd180 10px,
    #ffd180 20px
  );
}

